<!DOCTYPE html>
<html lang="en">

<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>COVID19 Daily Digest</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/icon/favicon.ico">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160824550-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160824550-1');
    </script>

</head>

<body>
    <!-- preloader area start -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- preloader area end -->
    <!-- header area start -->
    <header id="header">
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="menu-area">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <img src="/img/icon/favicon.ico" class="icon"><a href="/"><h2 class="title">COVID19 Daily Digest</h1></a>
                        </div>
                        <div class="col-md-4 hidden-xs hidden-sm">
                            <div class="main-menu">
                                <nav class="nav-menu">
                                    <ul>
                                        <li class="active"><a href="#home">Home</a></li>
                                        <li><a href="#signup">Signup</a></li>
                                        <li style="display: none;"><a href="#faq">FAQ</a></li>
                                        <li><a href="https://paypal.me/pools/c/8nrrY5sPYg">Donate</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
                            <div class="mobile_menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    <!-- slider area start -->
    <section class="slider-area" id="home">
        <div class="container">
            <div class="col-md-6 col-sm-6 hidden-xs">
                <div class="row">
                    <div class="slider-img">
                        <img src="img/warning.svg" alt="slider image">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="slider-inner text-right">
                        <h2>Get A Daily Digest</h2>
                        <h5>Of News About COVID19<br> In Your Country</h5>
                        <a href="#signup"><i class="fa fa-arrow-down"></i><strong>Sign Up</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider area end -->
    <!-- service area start -->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 col-4">
                    <div class="service-single">
                        <i class="fa fa-sync fa-5x"></i>
                        <h2>Up-To-Date</h2>
                        <p>Get up-to-date numbers<br>and statistics</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-4">
                    <div class="service-single">
                        <i class="fa fa-exclamation-triangle fa-5x"></i>

                        <h2>Active warning</h2>
                        <p>Get additional information<br>about COVID19</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-4">
                    <div class="service-single">
                        <i class="fa fa-dollar-sign fa-5x"></i>
                        <h2>No Cost</h2>
                        <p>This is free and will <br>stay like that</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service area end -->
    <!-- about area start -->
    <section class="about-area ptb--100" id="signup">
        <div class="container">
            <div class="section-title">
                <h2>Sign Up</h2>
                <% if (unregistered) { %>
                    <p class="unregister">You successfully unregistered! We are sorry to let you go!</p>
                <% } else if (user) { %>
                    <p class="success">You successfully signed up! Thank you!</p>
                <% } else if(error) { %>
                    <p class="error"><%= error %></p>
                <% } else { %>
                    <p>Choose your country and enter your Email to sign Up.<br>Emails will be sent out every day at 8.15pm EST.</p>
                <% } %>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                    <div class="contact-form text-center">
                        <form action="/register" method="POST">
                            <select name="country">
                                <% for (var country of data) { %>
                                    <option value="<%= country.Slug %>"><%= country.Country %></option>
                                <% } %>
                            </select>
                            <input type="email" name="email" placeholder="Enter Your Email">
                            <input type="submit" value="Send" id="send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->
    <!-- signup area start -->
    <section class="feature-area bg-gray pt--100" id="faq" style="display: none;">
        <div class="container">
            <div class="section-title">
                <h2>FAQ</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
            </div>
            <div class="row">
            </div>
        </div>
    </section>
    <!-- feature area end -->
    <!-- footer area start -->
    <footer>
        <div class="footer-area">
            <div class="container">
                Copyright &copy; <script>document.write(new Date().getFullYear());</script><br>
                All data is taken from <a class="underline" style="font-size: 15px;" href="https://covid19api.com">COVID19-API</a><br>
                Donate <a href="https://paypal.me/pools/c/8nrrY5sPYg">here</a> to support the project<br>
                Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a style="font-size: 15px;" href="https://www.github.com/puf17640" target="_blank">Julian Pufler</a> in Vienna
            </div>
        </div>
    </footer>
    <!-- footer area end -->
    <!-- Scripts -->
    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>